<ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active"><a routerLink="/home/information/introduction" >Introduction</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/home/information/overview" >Overview</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/home/information/examples" >Examples</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/home/information/howitworks" >How it Works</a></li>
</ul>
<router-outlet></router-outlet>
