<br>
<div class="jumbotron">
  <h2>The Blockchain Revolution</h2>
  <p>
      The blockchain is a distributed ledger technolgy that underlies cryptocurrencies 
      like Bitcoin.
  </p>
  <p>
     It provides a way to record and transfer data that is:
  </p>
     <ul class="list-group">
        <li class="list-group-item list-group-item-info">Transparent</li>
        <li class="list-group-item list-group-item-info">Safe</li>
        <li class="list-group-item list-group-item-info">Auditable</li>
        <li class="list-group-item list-group-item-info">Resistant to Outages</li>
    </ul>
  <p>
     The blockchain has the ability to make the organizations that use it:
  </p>
     <ul class="list-group">
        <li class="list-group-item list-group-item-info">Transparent</li>
        <li class="list-group-item list-group-item-info">Democratic</li>
        <li class="list-group-item list-group-item-info">Decentralized</li>
        <li class="list-group-item list-group-item-info">Efficient</li>
        <li class="list-group-item list-group-item-info">Secure</li>
    </ul>
  <p>
     It's a technology that holds a lot of promise for the future, and it is already disrupting 
     many industries.
  </p>

  <hr>

  <h3>1. Banking and Payments</h3>

  <p>
    Some people say that the Blockchain will do to Banking what the Internet did to Media.

    Blockchain technolcogy can be used to give acces to financial services to billions of people around the world including 
    those in third world countries who dont have access to traditional Banking.

    IBM predicts that 15% of banks will be using the blockchain by the end of 2017.
  </p>
 
  <hr>

  <h3>2. Cyber Security</h3>

  <p>
    Although the blockchain ledger is public, the data is verified and secured using advanced cryptography.
    This way the data is less prone to being hacked or changed without authorization.

    The blockchain elimates the need for middlemen making it more efficient than many legacey systems in cyber security.
  <p>

  <hr>

  <h3>3. Supply Chain Management</h3>

  <p>
    With blockchain technology, transactions are documented in a permanent decentralized record, and monitored securely and transparently
    This can greatly reduce time delays and human mistakes. It can also be used to monitor costs, labor, and even waste and emissions at every point in the supply chain.

    This has serious implications for understanding the real environmental impact of products
    
    The blockchain can also be used to verify authenticity or fair trade status of products by tracking them from their origin.
  </p>

  <hr>

  <h3>4. Forecasting</h3>

  <p>
    The blockchain is set to change the entire approach to:
  </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Research</li>
        <li class="list-group-item list-group-item-info">Consulting</li>
        <li class="list-group-item list-group-item-info">Analysis</li>
        <li class="list-group-item list-group-item-info">Forecasting</li>
    </ul>


  <hr>

  <h3>5. Networking and the Internet of Things</h3>

  <p>
    Samsung and IBM are using blockchain technology for a new concept called ADEPT, which will create a decentralized network 
    of IoT devices.
  </p>

  <hr>

  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Insurance</li>
    <li class="list-group-item list-group-item-info">Private Transport and Ride Sharing</li>
    <li class="list-group-item list-group-item-info">Cloud Storage</li>
    <li class="list-group-item list-group-item-info">Charity</li>
    <li class="list-group-item list-group-item-info">Voting</li>
    <li class="list-group-item list-group-item-info">Government</li>
    <li class="list-group-item list-group-item-info">Public Benefits</li>
    <li class="list-group-item list-group-item-info">Healthcare</li>
    <li class="list-group-item list-group-item-info">Energy Management</li>
    <li class="list-group-item list-group-item-info">Online Music</li>
    <li class="list-group-item list-group-item-info">Retail</li>
    <li class="list-group-item list-group-item-info">Real Estate</li>
    <li class="list-group-item list-group-item-info">Crowdfunding</li>
  </ul>

  <hr>

  <p>
    If your industry deals with data or transactions of any kind, it is a field than can likely be disrupted by 
    blockchain technology. The space is wide open and the opportunities are many.
  </p>
  
</div>