<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div class="welcome-screen-img">
            <br>
            <br>
            <br>
            <br>
            <img src="../../../assets/blockchain.png" width="240px" height="240px" />
        </div>

        <div class="jumbotron">
            <div class="container">
                <h1 class="text-white">Bitcoin Blockchain</h1>
                <p class="text-white">Leveraging the power of Angular4, NodeJS, & Electron</p>
                <p><a class="btn btn-primary btn-lg" (click)="gettingStarted()" role="button">Get Started</a></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="text-white"> </h1>
            </div>
        </div>
    </div>
</div>