<br>
<div class="jumbotron">
  <h2>So.. How Does the Blockchain Work?</h2>
  <p>
      The blockchain technology is probably the best invention since the internet itself.
      It allows value exchange without the need for trust or for a central authority.
  </p>
  <hr>
  <p>
      Bitcoin ledger
  </p>
  <img src="../../../assets/blockchain-pics/1_ledger.png" class="img-responsive center-block" width="500px" height="500px" /><br><br>
  <p>
      Transaction Request Message Simplified
  </p>
  <img src="../../../assets/blockchain-pics/2_transaction_request.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      Digital Signature Transaction Encryption Simplified
  </p>  
  <img src="../../../assets/blockchain-pics/3_digital_signature.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      Blockchain Transaction Request Structure
  </p> 
  <img src="../../../assets/blockchain-pics/5_blockchain_transaction_request.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      The Blockchain Sequence Structure Simplified
  </p> 
  <img src="../../../assets/blockchain-pics/6_blockchain_sequence_structure.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      End of Chain Ambiguity Logic
  </p>
  <img src="../../../assets/blockchain-pics/7_end_of_chain_logic.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      Double-Spending Attack
  </p>
  <img src="../../../assets/blockchain-pics/8_double_spending.png" class="center-block" width="600px" height="500px" /><br><br>
  <p>
      Blockchain Transactions Security
  </p>
  <img src="../../../assets/blockchain-pics/9_blockchain_transaction_security.png" class="center-block" width="600px" height="500px" /><br><br>
  <hr>
  <p>Source: https://medium.com/@micheledaliessi/how-does-the-blockchain-work-98c8cd01d2ae</p>
</div>