<div class = "getting-started">
    <div class="container container-table">
        <div class="row vertical-center-row">
            <section class="bg-grey-50 padding-top-60 padding-top-sm-30">
                <div class="col-md-3 col-sm-4 hidden-xs">
                    <div class="widget">
                        <div class="panel panel-default">
                            <div class="bg-primary panel-body">
                                <h2 class="text-center">Information</h2>
                                <p class="text-center">Knowledge Base on Bitcoin and Blockchain</p>
                            </div>
                            <div class="panel-heading">
                                <a class="center-block btn btn-link btn-lg" (click)="viewInformation()" role="button">View Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs">
                    <div class="widget">
                        <div class="panel panel-default">
                            <div class="bg-primary panel-body">
                                <h2 class="text-center">Visualize</h2>
                                <p class="text-center">View Detailed Information on Bitcoin</p>
                            </div>
                            <div class="panel-heading">
                                <a class="center-block btn btn-link btn-lg" (click)="viewVisualize()" role="button">Visualize Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs">
                    <div class="widget">
                        <div class="panel panel-default">
                            <div class="bg-primary panel-body">
                                <h2 class="text-center">Tutorial</h2>
                                <p class="text-center">Blockchain Tutorial using Hyperledger</p>
                            </div>
                            <div class="panel-heading">
                                <a class="center-block btn btn-link btn-lg" (click)="viewTutorial()" role="button">View Tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>