<br>
<div class="jumbotron">
  <h2>What's the Goal?</h2>
  <p>
     1) Blockchain is poised to radically transform our world and disrupt many industries by making organizations that use it more
     transparent, democratic, decentralized, efficient, and secure, and people need to know that this is the future.
  </p>
  <p>
     2) IBM is investing heavily in Blockchain and doing well. This is an emerging technology and one way to gain more ground is to 
     provide use cases and tutorials for various markets.
  </p>
  <p>
    3) Providing a central platform of information and tools can be helpful to fulfill these goals.
  </p>  
  <hr>
  <h2>Tools Used</h2>
  <img src="../../../assets/tools/Angular4.png" class="center-block" width="500px" height="500px" /><br><br>
  <img src="../../../assets/tools/Electron.png" class="center-block" width="600px" height="500px" /><br><br>
  <img src="../../../assets/tools/Webpack.png" class="center-block" width="600px" height="500px" /><br><br>
  <img src="../../../assets/tools/Hyperledger.png" class="center-block" width="600px" height="500px" /><br><br>
  <img src="../../../assets/tools/opengraph.png" class="center-block" width="500px" height="500px" /><br><br>
  <hr>
</div>