<br>
<div class="jumbotron">
  <h2>So, what is a Bitcoin?</h2>
  <p>
     One Bitcoin is a single unit of the Bitcoin (BTC) digital currency, just like a Dollar it has no value by itself, 
     it has value only because we agree to trade goods and services in exchange for a higher amount of the currency under 
     our control and we believe others will do the same.
  </p>
  <hr>
  <h2>How Bitcoins Work</h2>
  <p>
     Bitcoin is a digital currency that is not tied to a bank or government and allows users to spend money anonymously.
     The coins are created by users who 'mine' them by lending computing power to verify other users' transactions.
     They receive bitcoins in exchange. The coins also can be bought and sold on exchanges with US dollars and other currencies.
  </p>
  <hr>
  <h2>How Much is it Worth?</h2>
  <p>
     One bitcoin recently traded for $3,437.72, according to Coinbase, a company that helps users exchange bitcoins. That makes it 
     more valuable than an ounce of gold, which trades at less than $1,289.80.
  </p>
  <hr>
  <h2>Why bitcoins are Popular</h2>
  <p>
     Bitcoins are basically lines of computer code that are digitally signed each time they travel from one owner to the next. 
     Transactions can be made anonymously, making the currency popular with libertarians as well as tech enthusiasts, speculators and criminals.
  </p>
  <hr>
  <h2>Is it really anonymous?</h2>
  <p>
     Yes, to a point. Transactions and accounts can be traced, but the account owners aren't necessarily known. 
     However, investigators might be able to track down the owners when bitcoins are converted to regular currency.

    For now, the three accounts tied to the ransomware attack appear untouched and it'll be difficult for perpetrators 
    to cash in anytime soon without getting traced.
  </p>
  <hr>
  <h2>Who's Using Bitcoins?</h2>
  <p>
     Some businesses have jumped on the bitcoin bandwagon amid a flurry of media coverage. Overstock.com accepts payments in bitcoin, for example.

     The currency has become popular enough that more than 300,000 daily transactions have been occurring recently, according to bitcoin wallet site blockchain.info. A year ago, activity was closer to 230,000 transactions per day.

    Still, its popularity is low compared with cash and cards, and many individuals and businesses won't accept bitcoins for payments.
  </p>
  <hr>
  <h2>How are bitcoins kept secure</h2>
  <p>
     The bitcoin network works by harnessing individuals' greed for the collective good. A network of tech-savvy users called miners keep the system 
     honest by pouring their computing power into a blockchain, a global running tally of every bitcoin transaction. The blockchain prevents rogues 
     from spending the same bitcoin twice, and the miners are rewarded for their efforts by being gifted with the occasional bitcoin.
    
     As long as miners keep the blockchain secure, counterfeiting shouldn't be an issue.
  </p>
  <hr>
  <img src="../../../assets/blockchain-pics/blockchain.png" class="img-responsive center-block" width="500px" height="500px" /><br><br>
  <hr>
  <img src="../../../assets/blockchain-pics/blockchain_code.png" class="img-responsive center-block" width="500px" height="500px" /><br><br>
</div>